@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
body{
    background-color: #1a1d20;
    margin: 0;
}
body>a{
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    bottom: 3vh;
    margin: auto;
    color: white;
    text-decoration: none;
    font-family: 'Lilita One', cursive;
    letter-spacing: 0.2vw;
    font-size: 3vw;
}
h1{
    color: #00ffc4;
    font-family: "Segoe UI Black", serif;
    text-align: center;
    text-shadow: 0 0 2px #05ce9b, 0 0 3px #07e3b0, 0 0 5px #09efb9, 0 0 10px #39f1c8;
    position: relative;
    top: 25vh;
}
#que-section{
    position: relative;
    top: 20vh;
    height: 50vh;
}
#gifs{
    display: flex;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.gif{
    width: calc(80vw / 7);
    aspect-ratio: 1/1;
}
#letters{
    display: flex;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: calc(80vw / 7 + 50px);
    bottom: 0;
    left: 0;
    right: calc(80vw / 7);
    margin: auto;
}
.letter{
    height: 22px;
    width: calc(80vw / 7);
    text-align: center;
    color: #00ffc4;
    font-family: "Segoe UI Black", serif;
    font-size: 18px;
    animation-name: my-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes my-animation {
    from{
        text-shadow: none;
    }
    to{
        text-shadow: 0 0 1px #05ce9b, 0 0 2px #07e3b0, 0 0 3px #09efb9, 0 0 5px #39f1c8;
    }
}
#btn-section{
    position: relative;
    top: 20vh;
    height: 25px;
}
#btns{
    position: absolute;
    width: 200px;
    height: 25px;
    left: 0;
    right: 0;
    margin: auto;
}
#start{
    cursor: pointer;
    font-family: "Segoe UI Black", serif;
    color: #08a204;
    border: 2px solid #06ff00;
    background-color: #06ff00;
    width: 94px;
    border-radius: 10px;
}
#start:hover{
    border: 2px solid #08a204;
    box-shadow: 0 0 2px #08a204, 0 0 3px #06ff00, 0 0 5px #40ff00, 0 0 8px #68f134;
}
#stop{
    cursor: pointer;
    font-family: "Segoe UI Black", serif;
    color: #bd0707;
    border: 2px solid #ea3b4a;
    background-color: #ea3b4a;
    width: 94px;
    border-radius: 10px;
}
#stop:hover{
    border: 2px solid #bd0707;
    box-shadow: 0 0 2px #8a0202, 0 0 3px #de0505, 0 0 5px #ee0c0c, 0 0 8px #ee3131;
}