body{
    background-color: #000000;
}
h1{
    color: #ff0000;
    font-family: "Segoe UI Black", serif;
    text-align: center;
    text-shadow: 0 0 2px #8a0202, 0 0 3px #de0505, 0 0 5px #ee0c0c, 0 0 8px #ee3131;
    position: relative;
    top: calc(50vh - 100px);
}
.out-line{
    width: 84vw;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #8e918e;
    height: 1px;
}
#out-up{
    position: relative;
    top: calc(50vh - 75px);
}
#out-down{
    position: relative;
    top: calc(50vh - 75px);
}
#light-section{
    position: relative;
    top: calc(50vh - 75px);
    height: 11px;
}
#light-kit{
    display: flex;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.light{
    height: 5px;
    width: calc(80vw / 20);
    background-color: white;
    border-left: 1px solid #1a1d20;
    border-right: 1px solid #1a1d20;
}
#btn-section{
    position: relative;
    top: calc(50vh - 25px);
    height: 25px;
}
#btns{
    position: absolute;
    width: 200px;
    height: 25px;
    left: 0;
    right: 0;
    margin: auto;
}
#start{
    cursor: pointer;
    font-family: "Segoe UI Black", serif;
    color: #08a204;
    border: 2px solid #06ff00;
    background-color: #06ff00;
    width: 94px;
    border-radius: 10px;
}
#start:hover{
    border: 2px solid #08a204;
    box-shadow: 0 0 2px #08a204, 0 0 3px #06ff00, 0 0 5px #40ff00, 0 0 8px #68f134;
}
#stop{
    cursor: pointer;
    font-family: "Segoe UI Black", serif;
    color: #bd0707;
    border: 2px solid #ea3b4a;
    background-color: #ea3b4a;
    width: 94px;
    border-radius: 10px;
}
#stop:hover{
    border: 2px solid #bd0707;
    box-shadow: 0 0 2px #8a0202, 0 0 3px #de0505, 0 0 5px #ee0c0c, 0 0 8px #ee3131;
}