@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
body{
    margin: 0;
    background-color: #3d8df1;
}
body>a{
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: white;
    text-decoration: none;
    font-family: 'Lilita One', cursive;
    letter-spacing: 0.2vw;
    font-size: 3vw;
}
section{
    position: absolute;
    height: fit-content;
    top: 0;
    bottom: 0;
    margin: auto;
}
section>div{
    position: relative;
    background-color: #8D3FEB;
    width: 180px;
    height: 60px;
    color: #ffffff;
    margin-bottom: 10px;
    right: 140px;
    transition-duration: 1s;
    transition-property: right;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    font-family: 'Concert One', cursive;
    box-shadow: rgba(0, 0, 0, 0.5) 0 6px 6px 1px;
}
section>div:hover{
    right: 0;
}
section>div>h3{
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 20px;
    height: fit-content;
}
section>div>h3>svg {
    position: absolute;
    margin-left: 55px;
}
#gitLink{
    font-family: 'Lilita One', cursive;
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 50px;
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #FFFFFF;
}
#gitLink>a{
    display: inline-block;
    width: 2vw;
    aspect-ratio: 1/1;
}
#gitLink>a>svg{
    width: 2vw;
    aspect-ratio: 1/1;
}
#gitLink>a>svg:hover{
    scale: 1.25;
}