@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body{
    margin: 0;
}

/*Header Styles*/
header{
    position: sticky;
    height: 60px;
    z-index: 3;
    top: 0;
    background: dimgrey;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}
header>div{
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 1%;
    top: 0;
    bottom: 0;
    margin: auto;
}
header>div>a{
    font-family: 'Audiowide', cursive;
    text-decoration: none;
    font-weight: 200;
    font-size: 18px;
    color: white;
}
header>nav{
    position: absolute;
    width: fit-content;
    right: 25px;
    top: 20px;
}
header>nav>a{
    font-family: 'Audiowide', cursive;
    font-weight: 200;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-left: 25px;
}
header>nav>a:hover{
    color: yellow;
    font-size: 17px;
    font-weight: 600;
}

/*Home Styles*/
#home{
    position: relative;
    height: calc(100vh);
    background: black;
}
#home>section{
    position: absolute;
}
#home>h2{
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    position: absolute;
    left: 5%;
    top: calc(100vh / 100 * 20);
    margin: 0;
    width: fit-content;
    color: yellow;
    font-size: xx-large;
}
#home>h1{
    margin: 0;
    font-family: 'Audiowide', cursive;
    font-weight: 300;
    position: absolute;
    left: 5%;
    top: calc(100vh / 100 * 27);
    width: fit-content;
    color: white;
    font-size: 40px;
}
#home>h1>span{
    color: yellow;
}
#home>figure{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    width: fit-content;
}
#home>figure>img{
    width: 385px;
}
#home>p{
    position: absolute;
    margin: 0;
    color: #ffffff;
    width: calc(45vw);
    left: 5%;
    top: calc(100vh / 100 * 40);
    font-family: 'Audiowide', cursive;
    font-weight: 200;
    letter-spacing: 1px;
}
#home>div{
    position: absolute;
    left: 5%;
    top: calc(100vh / 100 * 60);
}
#home>div>button{
    transition-duration: 0.4s;
    background: yellow;
    width: 125px;
    height: 25px;
    border: 2px solid yellow;
    border-radius: 4px;
}
#home>div>button:hover{
    background: black;
}
#home>div>button>a{
    color: black;
    text-decoration: none;
    font-family: 'Audiowide', cursive;
    font-weight: 500;
}
#home>div>button:nth-child(1)>a{
    padding-left: 11px;
    padding-right: 11px;
}
#home>div>button:nth-child(2)>a{
    padding-left: 20px;
    padding-right: 20px;
}
#home>div>button>a:hover{
    color: yellow;
}
