@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body{
    margin: 0;
}

/*Header Styles*/
header{
    position: sticky;
    height: 60px;
    z-index: 3;
    top: 0;
    background: dimgrey;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}
header>div{
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 1%;
    top: 0;
    bottom: 0;
    margin: auto;
}
header>div>a{
    font-family: 'Audiowide', cursive;
    text-decoration: none;
    font-weight: 200;
    font-size: 18px;
    color: white;
}
header>nav{
    position: absolute;
    width: fit-content;
    right: 25px;
    top: 20px;
}
header>nav>a{
    font-family: 'Audiowide', cursive;
    font-weight: 200;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-left: 25px;
}
header>nav>a:hover{
    color: yellow;
    font-size: 17px;
    font-weight: 600;
}

/*Home Styles*/
#home{
    position: relative;
    height: calc(100vh);
    background: black;
}
#home>section{
    position: absolute;
}
#home>h2{
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    position: absolute;
    left: 5%;
    top: calc(100vh / 100 * 20);
    margin: 0;
    width: fit-content;
    color: yellow;
    font-size: xx-large;
}
#home>h1{
    margin: 0;
    font-family: 'Audiowide', cursive;
    font-weight: 300;
    position: absolute;
    left: 5%;
    top: calc(100vh / 100 * 27);
    width: fit-content;
    color: white;
    font-size: 40px;
}
#home>h1>span{
    color: yellow;
}
#home>figure{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    width: fit-content;
}
#home>figure>img{
    width: 385px;
}
#home>p{
    position: absolute;
    margin: 0;
    color: #ffffff;
    width: calc(45vw);
    left: 5%;
    top: calc(100vh / 100 * 40);
    font-family: 'Audiowide', cursive;
    font-weight: 200;
    letter-spacing: 1px;
}
#home>div{
    position: absolute;
    left: 5%;
    top: calc(100vh / 100 * 60);
}
#home>div>button{
    transition-duration: 0.4s;
    background: yellow;
    width: 125px;
    height: 25px;
    border: 2px solid yellow;
    border-radius: 4px;
}
#home>div>button:hover{
    background: black;
}
#home>div>button>a{
    color: black;
    text-decoration: none;
    font-family: 'Audiowide', cursive;
    font-weight: 500;
}
#home>div>button:nth-child(1)>a{
    padding-left: 11px;
    padding-right: 11px;
}
#home>div>button:nth-child(2)>a{
    padding-left: 20px;
    padding-right: 20px;
}
#home>div>button>a:hover{
    color: yellow;
}

/*About Me Styles*/
#about{
    position: relative;
    padding-top: 65px;
    /*height: calc(100vh - 60px);*/
    background: red;
}
#about>article{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background-color: #1E1E1E;
}
#about>article>h3{
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    font-size: 24px;
}
#about>article>h3>span{
    color: yellow;
}
#about>article>figure{
    position: absolute;
    left: 25px;
    top: 25px;
    margin: 0;
    width: fit-content;
    display: inline-block;
}
#about>article>p{
    position: absolute;
    /*display: inline;*/
    top: 15%;
    left: 30%;
    right: 150px;
    margin: 0;
    color: white;
    font-family: 'Audiowide', cursive;
    letter-spacing: 1px;
    font-size: 15px;
}
#intro{
    position: absolute;
    left: 33%;
    /*right: 0;*/
    /*margin: auto;*/
    top: 50%;
    width: 700px;
    height: 140px;
    /*width: fit-content;*/
    /*height: fit-content;*/
    background-color: #1E1E1E;
}
#intro>div:first-child{
    /*position: relative;*/
    /*width: 700px;*/
    /*height: 170px;*/
    width: fit-content;
    height: fit-content;
    /*bottom: 0;*/
    background-color: #1E1E1E;
}
#intro>div>ul{
    position: absolute;
    margin: 0;
    background-color: #1E1E1E;
}
#intro>div>ul>li{
    position: relative;
    padding-top: 3px;
    padding-left: 20px;
    width: 300px;
    display: inline-block;
    color: white;
    font-family: 'Audiowide', cursive;
    letter-spacing: 1px;
    font-size: 16px;
}
#intro>div>ul>li>span{
    position: absolute;
    color: orangered;
    right: 0;
    text-align: right;
}
#downloadCV{
    transition-duration: 0.4s;
    border: 2px solid yellow;
    box-sizing: border-box;
    background: yellow;
    border-radius: 4px;
    position: absolute;
    width: 187px;
    height: 25px;
    bottom: 0;
    right: 0;
}
#downloadCV:hover{
    background: black;
}
#downloadCV>a{
    color: black;
    text-decoration: none;
    font-family: 'Audiowide', cursive;
    font-weight: 500;
}
#downloadCV>a:hover{
    color: yellow;
}

/*Education Styles*/
#education{
    position: relative;
    height: 300px;
    /*width: fit-content;*/
    width: 45vw;
    display: inline-block;
    margin-left: 5vw;
}
#education>h3{
    position: absolute;
    right: 0;
    left: 0;
    width: fit-content;
    margin: auto;
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    font-size: 22px;
    color: white;
}
.mid-line{
    height: 300px;
    width: 3px;
    background-color: #F1E807;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}
.dot{
    width: 20px;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}
#education>p{
    position: absolute;
    margin: 0;
    color: white;
}
#education div:nth-child(3) {
    background-color: red;
    top: 70px;
}
#education p:nth-child(4) {
    left: 50px;
    top: 50px;
    background-color: black;
}
#education div:nth-child(5) {
    background-color: orangered;
    top: 150px;
}
#education p:nth-child(6) {
    left: 260px;
    top: 120px;
    background-color: black;
}
#education div:nth-child(7) {
    background-color: darkgreen;
    top: 220px;
}
#education p:nth-child(8) {
    left: 50px;
    top: 190px;
    background-color: black;
}

/*Experiences Styles*/
#experiences{
    position: absolute;
    height: 300px;
    width: 45vw;
    display: inline-block;
}
#experiences>h3{
    position: absolute;
    right: 0;
    left: 0;
    width: fit-content;
    margin: auto;
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    font-size: 22px;
    color: white;
}
#experiences>p{
    position: absolute;
    margin: 0;
    color: white;
}
#experiences div:nth-child(3) {
    background-color: red;
    top: 70px;
}
#experiences p:nth-child(4) {
    left: 260px;
    top: 50px;
    background-color: black;
}
#experiences div:nth-child(5) {
    background-color: orangered;
    top: 150px;
}
#experiences p:nth-child(6) {
    left: 90px;
    top: 120px;
    background-color: black;
}
#experiences div:nth-child(7) {
    background-color: darkgreen;
    top: 230px;
}
#experiences p:nth-child(8) {
    left: 260px;
    top: 190px;
    background-color: black;
}

/*Skills Styles*/
#skills{
    position: relative;
    height: 300px;
    /*height: fit-content;*/
    /*width: fit-content;*/
    width: 90vw;
    left: 5vw;
    display: inline-block;
    /*margin-left: 5vw;*/
}
#skills>h3{
    position: absolute;
    right: 0;
    left: 0;
    width: fit-content;
    margin: auto;
    color: white;
}
#skills>div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 25px;
    background-color: midnightblue;
    position: absolute;
    top: 30px;
    width: fit-content;
    height: fit-content;
    right: 0;
    left: 0;
    margin: auto;
}
#skills>div>div{
    position: relative;
}
.skill-logo{
    width: 50px;
}
#skills>div>div>b:nth-child(2){
    color: white;
    position: absolute;
    top: 0;
}
#skills>div>div>b:nth-child(3){
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}
.skill-range{
    width: 200px;
}

/*Assignments Styles*/
#assignments{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
#assignments>section{
    position: absolute;
    width: 90vw;
    height: 80vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: blue;
}
#assignments>section>h3{
    position: absolute;
    right: 0;
    left: 0;
    width: fit-content;
    margin: auto;
    color: white;
}
#assignments>section>div{
    position: absolute;
    width: 90vw;
    height: 75vh;
    top: 5vh;
    background-color: darkgoldenrod;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
#assignments>section>div>button{
    background-color: darkcyan;
    border-color: #F1E807;
    color: yellow;
}
#assignments>section>div>button>a{
    color: #F1E807;
    text-decoration: none;
}

/*Projects Styles*/
#project-cards{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: blueviolet;
    position: relative;
}
#project-cards::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    /*background: #ff676d;*/
    clip-path: inset(47% 0 0 0);
    z-index: -1;
}
.container{
    max-width: 1350px;
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
}
.container .main-card{
    width: 300%;
    display: flex;
    justify-content: space-evenly;
    transition: all 1s ease;
}
#two:checked ~ .main-card{
    margin-left: -100%;
}
#three:checked ~ .main-card{
    margin-left: -200%;
}
.main-card .cards{
    width: calc(100% / 2 - 30px);
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    flex-wrap: wrap;
}
.main-card .cards .card{
    background: #000000;
    width: calc(100% / 2 - 80px); /*width change point*/
    padding: 30px;
    border-radius: 24px;
    transition: all 0.4s ease;
}
.main-card .cards .card:hover{
    transform: translateY(-15px);
}
.cards .card .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cards .card .content .img{
    width: 459px;
    height: 264px;
    margin-bottom: 14px;
    /*background: #000000;*/
    /*padding: 3px;*/
    /*border-radius: 50%;*/
}
.cards .card .content .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /*border-radius: 50%;*/
    border: 2px solid #fff;
}
.card .content .details .project-type{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.card .content .details .project-name{
    font-size: 20px;
    color: #F1E807;
}
.card .content .details .project-details{
    font-size: 16px;
    color: #fff;
}
.card .content .media-icons{
    display: flex;
    margin-top: 10px;
}
.card .content .media-icons span{
    color: #fff;
    font-size: 14px;
    padding-top: 7px;
}
.card .content .media-icons a{
    height: 25px;
    width: 25px;
    color: #f2f2f2;
    background: #F1E807;
    /*margin: 0 0px;*/
    /*margin-bottom: 10px;*/
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    font-size: 20px;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}
.card .content .media-icons a:hover{
    border-color: #F1E807;
    color: #F1E807;
    background: #fff;
}
.button{
    display: flex;
    margin: 20px;
    justify-content: center;
}
.button label{
    height: 15px;
    width: 15px;
    background: #F1E807;
    margin: 0 4px;
    border-radius: 20px;
    transition: all 0.5s ease;
}
.button label.active{
    width: 35px;
}
#one:checked ~ .button label.one{
    width: 35px;
}
#two:checked ~ .button label.two{
    width: 35px;
}
#three:checked ~ .button label.three{
    width: 35px;
}
#three:checked ~ .button label.two{
    width: 15px;
}
#three:checked ~ .button label.one{
    width: 15px;
}
#two:checked ~ .button label.one{
    width: 15px;
}
#one:checked ~ .button label.two{
    width: 15px;
}
input[type="radio"]{
    display: none;
}
@media (max-width: 768px) {
    .main-card .cards .card {
        width: calc(100% / 2 - 10px);
        margin: 20px 0 10px 0;
    }
}
@media (max-width: 600px) {
    .main-card .cards .card {
        width: 100%;
    }
}
