@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body{
    margin: 0;
}

/*Header Styles*/
header{
    position: sticky;
    height: 60px;
    z-index: 3;
    top: 0;
    background: dimgrey;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}
header>div{
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 1%;
    top: 0;
    bottom: 0;
    margin: auto;
}
header>div>a{
    font-family: 'Audiowide', cursive;
    text-decoration: none;
    font-weight: 200;
    font-size: 18px;
    color: white;
}
header>nav{
    position: absolute;
    width: fit-content;
    right: 25px;
    top: 20px;
}
header>nav>a{
    font-family: 'Audiowide', cursive;
    font-weight: 200;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-left: 25px;
}
header>nav>a:hover{
    color: yellow;
    font-size: 17px;
    font-weight: 600;
}

/*Home Styles*/
#home{
    position: relative;
    height: calc(100vh);
    background: black;
}
#home>section{
    position: absolute;
}
#home>h2{
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    position: absolute;
    left: 5%;
    top: calc(100vh / 100 * 20);
    margin: 0;
    width: fit-content;
    color: yellow;
    font-size: xx-large;
}
#home>h1{
    margin: 0;
    font-family: 'Audiowide', cursive;
    font-weight: 300;
    position: absolute;
    left: 5%;
    top: calc(100vh / 100 * 27);
    width: fit-content;
    color: white;
    font-size: 40px;
}
#home>h1>span{
    color: yellow;
}
#home>figure{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    width: fit-content;
}
#home>figure>img{
    width: 385px;
}
#home>p{
    position: absolute;
    margin: 0;
    color: #ffffff;
    width: calc(45vw);
    left: 5%;
    top: calc(100vh / 100 * 40);
    font-family: 'Audiowide', cursive;
    font-weight: 200;
    letter-spacing: 1px;
}
#home>div{
    position: absolute;
    left: 5%;
    top: calc(100vh / 100 * 60);
}
#home>div>button{
    transition-duration: 0.4s;
    background: yellow;
    width: 125px;
    height: 25px;
    border: 2px solid yellow;
    border-radius: 4px;
}
#home>div>button:hover{
    background: black;
}
#home>div>button>a{
    color: black;
    text-decoration: none;
    font-family: 'Audiowide', cursive;
    font-weight: 500;
}
#home>div>button:nth-child(1)>a{
    padding-left: 11px;
    padding-right: 11px;
}
#home>div>button:nth-child(2)>a{
    padding-left: 20px;
    padding-right: 20px;
}
#home>div>button>a:hover{
    color: yellow;
}

/*About Me Styles*/
#about{
    position: relative;
    padding-top: 65px;
    /*height: calc(100vh - 60px);*/
    background: red;
}
#about>article{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background-color: #1E1E1E;
}
#about>article>h3{
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    font-size: 24px;
}
#about>article>h3>span{
    color: yellow;
}
#about>article>figure{
    position: absolute;
    left: 25px;
    top: 25px;
    margin: 0;
    width: fit-content;
    display: inline-block;
}
#about>article>p{
    position: absolute;
    /*display: inline;*/
    top: 15%;
    left: 30%;
    right: 150px;
    margin: 0;
    color: white;
    font-family: 'Audiowide', cursive;
    letter-spacing: 1px;
    font-size: 15px;
}
#intro{
    position: absolute;
    left: 33%;
    /*right: 0;*/
    /*margin: auto;*/
    top: 50%;
    width: 700px;
    height: 140px;
    /*width: fit-content;*/
    /*height: fit-content;*/
    background-color: #1E1E1E;
}
#intro>div:first-child{
    /*position: relative;*/
    /*width: 700px;*/
    /*height: 170px;*/
    width: fit-content;
    height: fit-content;
    /*bottom: 0;*/
    background-color: #1E1E1E;
}
#intro>div>ul{
    position: absolute;
    margin: 0;
    background-color: #1E1E1E;
}
#intro>div>ul>li{
    position: relative;
    padding-top: 3px;
    padding-left: 20px;
    width: 300px;
    display: inline-block;
    color: white;
    font-family: 'Audiowide', cursive;
    letter-spacing: 1px;
    font-size: 16px;
}
#intro>div>ul>li>span{
    position: absolute;
    color: orangered;
    right: 0;
    text-align: right;
}
#downloadCV{
    transition-duration: 0.4s;
    border: 2px solid yellow;
    box-sizing: border-box;
    background: yellow;
    border-radius: 4px;
    position: absolute;
    width: 187px;
    height: 25px;
    bottom: 0;
    right: 0;
}
#downloadCV:hover{
    background: black;
}
#downloadCV>a{
    color: black;
    text-decoration: none;
    font-family: 'Audiowide', cursive;
    font-weight: 500;
}
#downloadCV>a:hover{
    color: yellow;
}
